APP_NAME=Pare-Mare
APP_ENV=production
APP_KEY=base64:TAjRYzMzP5sQQcI8QtcvCCka02eDANyFU9OpY6ovCeo=
APP_DEBUG= false
APP_URL=https://dev.paremare.com/

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_pare_mare
DB_USERNAME=root
DB_PASSWORD=lku0y39GMv6ft8gds32ew

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp-relay.sendinblue.com
MAIL_PORT=587
MAIL_USERNAME=developers.singhsuraj@gmail.com
MAIL_PASSWORD=5FDWxI8ZMAGYV4R3
MAIL_FROM_NAME=Consultant
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=developers.singhsuraj@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=AKIA5N3SBESJSOEYWVMY
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=me-central-1
AWS_BUCKET=paremareae-assets
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

TWILIO_NUMBER="+15628370657"
TWILIO_TOKEN="a1fa433730d28cd158695121f7033154"
TWILIO_SID="ACaf601f3f21569625ab32d8cdbc878369"

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

TELR_TEST_MODE=1
TELR_STORE_ID=
TELR_STORE_AUTH_KEY=

MYFATOORAH_API_URL=https://apitest.myfatoorah.com/
# MYFATOORAH_API_URL=https://api.myfatoorah.com/v2/ 
# MYFATOORAH_API_URL=https://api-sa.myfatoorah.com/v2/
#Test Key
MYFATOORAH_API_KEY="rLtt6JWvbUHDDhsZnfpAhpYk4dxYDQkbcPTyGaKp2TYqQgG7FGZ5Th_WD53Oq8Ebz6A53njUoo1w3pjU1D4vs_ZMqFiz_j0urb_BH9Oq9VZoKFoJEDAbRZepGcQanImyYrry7Kt6MnMdgfG5jn4HngWoRdKduNNyP4kzcp3mRv7x00ahkm9LAK7ZRieg7k1PDAnBIOG3EyVSJ5kK4WLMvYr7sCwHbHcu4A5WwelxYK0GMJy37bNAarSJDFQsJ2ZvJjvMDmfWwDVFEVe_5tOomfVNt6bOg9mexbGjMrnHBnKnZR1vQbBtQieDlQepzTZMuQrSuKn-t5XZM7V6fCW7oP-uXGX-sMOajeX65JOf6XVpk29DP6ro8WTAflCDANC193yof8-f5_EYY-3hXhJj7RBXmizDpneEQDSaSz5sFk0sV5qPcARJ9zGG73vuGFyenjPPmtDtXtpx35A-BVcOSBYVIWe9kndG3nclfefjKEuZ3m4jL9Gg1h2JBvmXSMYiZtp9MR5I6pvbvylU_PP5xJFSjVTIz7IQSjcVGO41npnwIxRXNRxFOdIUHn0tjQ-7LwvEcTXyPsHXcMD8WtgBh-wxR8aKX7WPSsT1O8d8reb2aR7K3rkV3K82K_0OgawImEpwSvp9MNKynEAJQS6ZHe_J_l77652xwPNxMRTMASk1ZsJL"
#Live Key
#MYFATOORAH_API_KEY="qbqIOJQMmYI7o8jPfUljMtD502mWuXMNkCvo4eXhXw5p4JH3tc7TBaExegyKy5uPi1nseZMl9w-SHt_6RZQCiP9egD2huH_cIzzS8yoz_h0jbIJJbB83SQ5ef-OV303uXQyV1jXahelYxbjs6S0DtrBGl6yxjhpSUA1QSp1WSgbQ0MkE7xFzyiodoFNxI4PGcnSkeMWMnRuRRK0A92dGS6436dZEMrSF7yooZh-sjtUJCqN7JkOmeerMQjKkUk-j1FcNAewJF9rNzcmMm_03TzV7jq4zVCTotml55cJkcmFPv0U-GeINJfipFbHpuw74yf0yLY2Kwy8tA6xLxFwGCghUEbvFhEC2hBXbw5Wx7qLaAtB97ATZA2NWxkkImVq39kGjpE10JPF5cRBrV2vvU3YiqoYlUVpJuyO4k74v5tEEoHO54XuUybN1_pAXteHvxWKIU02YUpk0URm4CpxAoTvPJV-Ig3c0eGDwXdWuq1WfVGledm55HkSkt1ZemLq3J6AODGoyUg1CqTHnZqzgfagY1DcnOVM7rflDecphbAheLz6qEKpRfMY5zNv0UsQODzsGeoT-uAc_Hizt8DSqjGMieOaGWhjF-0DjHlRxUXQOzlBZctcFLR-qLTlAV45dCoxr__Xu_2L2VUZsKv5YbAIt2ZnV1JxurycymJmseYLwZHVm"
MYFATOORAH_TEST_MODE=true
MYFATOORAH_COUNTRY_ISO="KWT"  #Accepted value: KWT, SAU, ARE, QAT, BHR, OMN, JOD, or EGY.


